# Ignore configuration files that may contain sensitive information.
# sites/*/*settings*.php
web/sites/*/settings.php
web/sites/example.sites.php

# Composer vendor directory
vendor/*

# Ignore paths that contain generated content.
web/files/
web/sites/*/files
web/sites/*/private
web/sites/*/translations

# Ignore default text files
web/robots.txt
web/CHANGELOG.txt
web/COPYRIGHT.txt
web/INSTALL*.txt
web/LICENSE.txt
web/MAINTAINERS.txt
web/UPGRADE.txt
web/README.txt
web/sites/README.txt
web/sites/all/libraries/README.txt
web/sites/all/modules/README.txt
web/sites/all/themes/README.txt
web/core/CHANGELOG.txt
web/core/COPYRIGHT.txt
web/core/INSTALL*.txt
web/core/LICENSE.txt
web/core/MAINTAINERS.txt
web/core/UPGRADE.txt
web/core/README.txt

# Jetbrains
.idea/

# Development modules
/modules/contrib/devel
/modules/contrib/examples
